@import './style/reset.scss';
@import '~antd/dist/antd.css';
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout {
  width: 100%;
  height: 100%;
}
#root{
  height: 100%;
  overflow-y: hidden;
}
.trigger{
  padding: 0 26px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:60px;
}
.logo i{
  width:31px;
  height: 31px;
  display:block;
  background: url(./images/logo192.png) no-repeat center;
  border-radius: 50%;
  background-size: 100%;
}
.logo span{
  color: #dadada;
  margin: 0 5px;
  font-size: 20px;
  font-weight: bold;
}
.ant-layout-header{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Breadcrumb{
  flex: 1;
}